.wrapping{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 55px;
  }
  
  .wrapClock{
  display: flex;
  justify-content: center;
  padding: 10%;
  gap: 5%;
  
  }
  
  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .text {
    color: #aaa;
  }
  
  .value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* position: absolute; */
    /* width: 63px; */
    /* height: 19px; */
    /* left: 176px;
    top: 378px; */
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    /* font-size: 24; */
    /* line-height: 18px; */
    /* identical to box height, or 77% */
  
    text-align: center;
    text-transform: uppercase;
  
    color: #252525;
  }
  
  .info {
    /* max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px; */
  }
  .rapid {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
  }
  .plusMinus {
    box-sizing: border-box;
    /* align-content:center ; */
    /* justify-content: center; */
    align-self: center;
    /* text-align: center; */
    /* position: relative; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    /* height: 40%; */
  
    background: #feefec;
    border: 2px solid #252525;
  
    box-shadow: 2px 2px 0px #d35400;
    font-size: large;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    color: #000000;
  }