.container {
   padding-top: 30px;
}

.camera {
   background-color: blue;
   height: 426px;
   max-height: 38vh;
   width: 263px;
   border-radius: 40px;
   margin: auto;
   overflow: hidden;
}

.camera video {
   height: 100%;
   /* width: 100%; */
}