.container {
   padding-top: 30px;
}

.camera {
   border: 1px solid #262626;
   width: 263px;
   height: 263px;
   border-radius: 40px;
   margin: auto;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.camera video {
   height: 100%;
}