.container {
    width: 100%;
    overflow: hidden;
    padding: 10px 10px 140px 10px;

}

.questions {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.submitDiv {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 134px;
}