.wrapButton {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.submit {
  margin: 8px auto;
  width: 94%;
  height: 48px;
  background: #f39c12;
  border: 2px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  border-radius: 80px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.submit:disabled {
  background: #fdc467;
}