.password-input {
  box-sizing: border-box;
  width: 85%;
  height: 4vh;
  padding: 1rem;
  font-weight: 600;
  font-size: 100%;
  line-height: 2rem;
  background: #ffff;
  border: none;
  outline: 0;
}

.hide-icon {
  font-size: 100%;
}

.unvalid {
  border: 1px solid red;
}

.unvalidLabel {
  color: red;
}
.unvalidPlaceholder::placeholder {
  color: red;
}
