@media screen and (max-width: 600px) {
  .pageStartFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }
  .myAreaBtnStart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .outBtn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 111px;
    bottom: 213.5px;
    z-index: 2;
    background: #7d56a5;
    border-radius: 50%;
    border-top: 1.5px solid #252525;
  }
  .startOrengeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    width: 78px;
    height: 78px;
    background: #f39c12;
    border: 2px solid #000000;
  }
  .playTriangle {
    z-index: 11;
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid #ffffff;
  }

  .footer-start-box {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 269px;
    box-sizing: border-box;
    background: #7d56a5;
    border: 1.5px solid #252525;
    border-radius: 40px 40px 0px 0px;
    /* z-index: 0; */
  }
  .startTitle {
    position: absolute;
    width: 108px;
    height: 19px;
    bottom: 198px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 10;
  }
  .explanation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 40px;
    z-index: 1;
    bottom: 30px;
    position: absolute;
    width: 339px;
    height: 149px;
    padding: 0;
    gap: 10px;
  }
  .explanation p {
    margin: 0;
  }
  .explanationPB {
    width: 279px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #252525;
    order: 0;
  }
  .explanationP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 259px;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #55575a;
  }

  .myEmojiDiv {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-left: 332px;
    z-index: 10;
    object-fit: cover;
  }
  .leftEmoji {
    width: 50px;
    height: 50px;
  }

  /* .route-area-link {
    position: relative;
    display: flex;
    justify-content: center;
    width: 111px;
    height: 111px;
  } */

  /* .route-area-link {
    position: relative;
    display: flex;
    justify-content: center;
    width: 111px;
    height: 111px;
  } */
}
