.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 10vh;
}

.header .mid {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
}