.level_page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level_page img {
  margin-top: 40px;
  margin-bottom: 40px;
}

.result--div {
  background: #FEEFEC;
  border: 1.5px solid #252525;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 20px;
}

.twistBoxChildren {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.twistBoxChildren img {
  color: #55575a;
  width: 36px;
  height: 40px;
  margin: 0;
  margin-bottom: 11px;
}

.twistBoxChildren span {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #252525;
  margin-bottom: 4px;
}

.twistBoxChildren span:last-child {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #3d2072;
}