.container {
    position: relative;
    padding-bottom: 90px;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}

.img {
    height: 600px;
    width: 95%;
    margin-top: 4%;
    text-align: center;
    overflow-y: scroll;
}