.img{

    height: 600px;
    width: 95%;
    margin-top: 4%;
    text-align: center;
    overflow-y: scroll;

}

/* .wrapper{
    width: 500px; 
    overflow-x:scroll;     
    white-space: nowrap;
}

.slide{
    background: #ccc;
    height: 200px;
    display: inline-block;
    width: 100px;
} */