.exerClockPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.squareButton2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #feefec;
  border: 1.5px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  border-radius: 20px;
}

.rapid {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.soundWave {
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
}
