.fourQues {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.newText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #55575A;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 0 16px;
}

.nUnderLine {
    margin-left: 4.5%;
    margin-bottom: 2%;
    margin-top: 2%;

}

.nTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-left: 4.5%;
    margin-top: 5%;
    color: #252525;
    flex: none;
    order: 0;
    flex-grow: 0;
}