.goToTrain{
    /* position: fixed; */
    bottom: 10%;
}

.instruction{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin-left: 4.5%;
    margin-top: 5%;
    color: #252525;
    flex: none;
    order: 0;
    flex-grow: 0;
  }


.text{
    width: 90%;
    height: 55px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #55575A;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 4.5%;
    justify-content: center;
    text-justify: inter-word;
}

.instPage{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    /* padding:30px; */
    /* margin: 10% */
}