.FormTitle {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 47px;
}

.title {
  color: var(--main-title-color);
  font-weight: 600;
  font-size: 20px;
  height: 25px;
}