.container {
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-direction: column;
   position: relative;
   padding-bottom: 70px;
   min-height: 90vh;
}

.container>img {
   max-width: 330px;
   width: 100%;
}

.underline {
   margin-top: -15px;
   margin-right: auto;
   margin-bottom: 10px;
}

.container>p {
   font-size: 14px;
}

.container>h2 {
   font-size: 18px;
   font-weight: 600;
   margin: 20px 0;
}