.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1.5px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  border-radius: 50%;
  text-align: center;
}

.RoundedButton {
  background: #feefec;
}

.RoundedButtonPlay {
  background: #f39c12;
  border: 1.5px solid #252525;
  box-shadow: 2px 2px 0px #d35400;
  font-size: large;
}