.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.btnHolder {}