.footer-google {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
  height: 96px;
  width: 100%;
  background: #7d56a5;
  border: 1.5px solid #000000;
  border-radius: 40px 40px 0px 0px;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 239.45px;
  height: 50px;

  background: #ea4235;
  border: 2px solid #252525;
  box-shadow: 2px 2px 0px #f1c40f;
  border-radius: 80px;
  bottom: 14px;
}

.google-button p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
}

.google-icon {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-right: 12px;
}


.FramePencil {
  position: fixed;
  height: 50px;
  width: 50px;
  z-index: 5;
  bottom: 53px;
  right: 22px;
}