.sub-title-box {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  font-size: 12px;
  text-align: center;
  /* align-items: baseline; */
}

.sub-title {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 10px auto;
}

.sub-title p {
  max-width: 294px;
  font-family: "Poppins";
  font-style: normal;
  line-height: 18px;
  color: #55575a;
}

.sub-title a {
  color: #3D2072;
  font-weight: 700;
}