.result {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
   position: relative;
   padding-bottom: 100px;
   min-height: 90vh;
}

.img {
   width: 299.82px;
   height: 316px;
   margin-bottom: 85px;
}