.signin {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  justify-content: space-between;
}

.forgot {
  font-size: 12px;
  margin: auto;
  margin-right: 6px;
}

.forgot a {
  color: #55575A;
}

.btnHolder {
  width: 100%;
  bottom: 96px;
  position: absolute;
}