.signin {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.forgot {
  font-size: 12px;
  margin: 0 auto;
  margin-right: 16px;
}

.forgot a {
  color: #55575A;
}

.signin form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btnHolder {
  margin-top: auto;
}