.signin {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.forgot {
  font-size: 12px;
  margin: auto;
  margin-right: 6px;
}

.forgot a {
  color: #55575A;
}

.signin form {
  display: flex;
  flex-direction: column;

}

.btnHolder {
  width: 100%;
  flex: 1;
  /* bottom: 96px;
  position: absolute; */
}